/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2015, 11:08:26 AM
    Author     : Mr.Ngoc
*/


* { margin: 0; padding: 0; } 
@font-face{
    font-family: "GretoonHighlight";
    src: url("fonts/GretoonHighlight.ttf") format("truetype");;
}
@font-face{
    font-family: "Gretoon";
    src: url("fonts/Gretoon.ttf") format("truetype");;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 14px;
    font-family: Arial;
    vertical-align: baseline;
}
.row{
    margin: 0;
}
.row, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { font: 14px Arial;}

/*
        TYPOGRAPHY
*/
h1, h2, h3, h4, h5 {}
a img { border: 0; }
a {color: #c00c0c; text-decoration: none;}
.zoomer:active { top: 0; }
#page-wrap{
    min-width: 480px;
}

/* header */
.navbar-cya{
    background-color: #fff;
    border: none;
}
.top-header{
    padding: 5px 0px;
    border-bottom: 2px solid #ebebeb;
}
.bottom-header{
    padding: 30px 0px;
}
.bottom-header-image-invisible{
    display: none;
}
.bottom-header img{
    display: inline-block;
    float: right;
    padding-right: 50px;
}
.header-contact{
    text-align: center;
}
.header-contact .header-contact-content,
.header-contact .header-contact-value{
    display: inline-block;
}
.header-contact .header-contact-value{    
    font-size: 12px;
}
.header-social ul{
    display: inline-block;
    float: right;
    padding-right: 140px;
}
.header-social ul li{
    float: left;
    padding-left: 5px;
}
.header-social ul li i,
.header-contact .header-contact-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #000;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 30px;    
}
.header-social ul li i.sc-LinkIn{
    background-position: 0 -30px;
}
.header-social ul li i.sc-google{
    background-position: 0 -60px;
}
.header-social ul li i.sc-facebook{
    background-position: 0 -90px;
}
.header-social ul li i.sc-twiter{
    background-position: 0 -120px;
}



/* body */

.body-top{
    background: url("../images/home-background-top.png")no-repeat top left;
    min-height: 690px;
    background-size:100% 100%;
}
.testimonials-box{
    background: url("../images/home-background-bottom.png")no-repeat top left;
    min-height: 300px;
    background-size:100% 100%;
}
.first-table,
.second-table{
    text-align: center;
}
.first-table{
    background-color: white;
    padding-bottom: 20px;
}
.first-table-title{
    font-size: 25px;
    padding-top: 10px;
}
.first-table-content{
    font-size: 16px;
    padding: 15px 10px 0px 10px;
}
.second-table{
    padding-bottom: 20px;
    background: black;
    opacity: 0.8;
}
.second-table-content ul{
    padding-top: 20px;
}
.second-table-content ul li{
    font-size: 16px;
    text-align: left;
    color: #fff;
    padding-left: 10px;
    padding-top: 20px;
}
.second-table-content ul li a{
    color: #fff;
}
.li-style{
    color: #50a000; 
    display: inline-block;
    padding-right: 10px;
}
.second-table-button{
    padding-top: 40px;
}
.cya-btn{
    background-color: #ff5a28;
}

.body-middle{
    padding-top: 20px;
}
.services{
    font-size: 30px;
    text-align: center
}
.services span{
    color: #ff5a28;
    font-size: 30px;
}
.body-middle hr{
    border-top: 2px solid #eee;
    width: 80%;
    margin: 0 auto;
}
.services-content{
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}
.services-content ul{
    float: left;
}
.services-content-button{
    padding-top: 40px;
    padding-left: 10px;
}
.services-content-button,
.services-content ul,
.services-content ul li{
    display: inline-block;
    padding-right: 20px;
}

@media only screen and (max-width: 479px) {
    .services-content ul li{
        padding-right: 0px;
    }
}

.services-content ul li img{
    width: 100px;
    height: 100px;
}

.mainslider{
    padding-top: 80px;
}
.mainslider img{
    width: 100px;
    height: 100px !important;
    border: 1px solid transparent;
    border-radius: 100px;
}
.mainslider {
    width: 50%;
    margin: 0 auto;
}
.mainslider .flex-direction-nav li{
    position: relative;
}
.mainslider .flex-direction-nav .flex-prev,
.mainslider .flex-direction-nav .flex-next{
    top: -50px;
    opacity: 0.5;
}
.mainslider .flex-direction-nav .flex-prev{

}
.slider-content{
    width: 68%;
    display: inline-block;
    padding-left: 10px;
}
.slider-title{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.slider-content span{
    font-size: 14px;
}


/* footer */
#footer{
    /*padding-top: 20px;*/
    text-align: center;
}
.news-letter{
    text-align: center;
    /*margin-top: 20px;*/
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
}
.news-letter-title{
    font-size: 24px;
}
.news-letter-content{
    font-size: 12px;
    color: #75523c;
    padding-top: 10px;
    display: inline-block;
}
.news-letter-content form{
}
.form-body-bottom{
    padding-top: 20px;
    float: left;
}
.icon-body-bottom{
    float: left;
    display: inline-block;
    background: url("../images/body-bottom-icon.png")no-repeat top left;
    height: 70px;
    width: 75px;
}
.form-body-bottom{
    display: inline-block;
}
.news-letter-content input[type="submit"]{
    border: 1px solid transparent;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: #ff5a28;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.news-letter-content input[type="text"], .news-letter-content input[type="email"]{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}

.menu-footer{
    background-color: #3a2619;
}
.menu-footer ul{
    margin: 0 auto;
    float: none;
    display: inline-block;
}
.menu-footer ul li a{
    color: #fff;
}
.menu-footer ul li a:hover{
    background-color: #3a2619;
}
.footer-infor{
    color: #816b5d;
    font-size: 12px;
    padding: 30px 0px;
}
#footer .menu-footer{

}
#footer .menu-footer ul{

}
#footer .menu-footer ul li{
    float: left;
    min-height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    color: #fff !important;
}
#footer .menu-footer ul li a{
    color: #fff !important;
}



/* page about */
h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
}
h4{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.about-title,
.about-content-title{
    padding: 20px 0px;
}
.border-left{
    border-left: 3px solid #ff9170;
    padding-left: 16px;
    display: inline-block;
}
.about-top{
    min-height: 260px;
    background: url("../images/about-background.png")no-repeat top left;
    background-size:100% 100%;
}
.about-top-content{
    min-width: 100px;
    min-height: 50px;
    display: inline-block;
    font-size: 40px;
    top: 193px;
    position: relative;
}
.about-body{
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.about {
    padding-top: 20px;
}
.about-image img{
    width: 230px;
    height: 230px;
    border: 1px solid transparent;
    border-radius: 230px;
}
.about-content-bottom{
    padding-top: 20px;
}
.about-content-bottom ul li{
    padding-top: 10px;
}
.about-content-bottom ul li i{
    color: #62a91a;
}
.about-content-bottom ul li span{
    padding-left: 10px;
    font-size: 13px;
}
.about-content-top h3{
    padding-top: 20px !important; 
}

/* contact */
.input-update{
    width: 100%;
    margin: auto;
    padding-top: 10px;
}
.input-update-short{
    width: 48% !important;
}
.input-update-short .input-group input, 
.input-update-short .input-group input:focus, 
.input-update-short .input-group select, 
.input-update-short .input-group select:focus{
    width: 85% !important;
}
.input-update .input-group{
    width: 100%;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
}
.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-update .input-group input, 
.input-update .input-group input:focus, 
.input-update .input-group select, 
.input-update .input-group select:focus{
    width: 90%;
    border: none;
    min-height: 40px;
    font-family: Arial;
    font-size: 16px;
    margin-left: 5px;
    border-right: 1px solid #9d9d9d;
}
.input-update textarea{
    width: 100%;
    min-height: 200px;
}
.input-update .input-group i{
    font-size: 1.5em;
    color: #c4c4c4;
    padding-left: 4px;
}
.contact-right{
    padding-left: 20px;
}
.google-map img{
    width: 100%;
}
.contact,
.contact div{
    padding-top: 20px;
}
.contact div span{
    font-weight: bold;
}
.btn-contact{
    text-align: right;
}
.btn-contact input{
    background-color: #50a000;
    padding: 10px 20px;
    color: #fff;
}

/* page services */
.services-body{
    padding-top: 30px;
}
.services-page-content{
    padding: 5px 5px;
}
.services-icon,
.testimonial-icon,
.supplier-icon{
    display: inline-block;
    float: left;
}
.services-icon img{
    width: 50px;
    height: 50px;
}
.supplier-icon img{
    width: 200px;
    height: 100px;
}
.testimonial-icon img{
    width: 145px;
    height: 150px;
}
.services-page-content h4{
    padding-bottom: 5px;
    font-size: 14px;
}
.supplier-page-content{
    border-left: 2px solid #ebebeb;
    padding-left: 10px;
}
.supplier-page-content h4{
    padding-top: 10px;
    display: inline-block;
}
.testimonial-page-content h4{
    display: inline-block;
    padding-top: 10px;
}
.testimonial-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.testimonial-title p{
    font-size: 30px;
}

/* page services-detail */
.about-title-second{
    text-align: center;
}
.about-title-second-content{
    display: inline-block;
}
.about-title-second-content img{
    width: 60px;
    height: 60px;
    float: left;
}
.about-title-second-content div{
    display: inline;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}
.best-service-detail{
    color: #ff5a28;
    font-size: 24px;
    display: block;
    padding: 20px 0px;
}
.best-service-detail i{
    color: #50a000;
}
.service-detail-btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: #50a000;
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
}
.service-detail-image-1 img{
    width: 80%;
    height: 270px;
    float: right;
}
.service-detail-image-2 img{
    width: 70%;
    height: 270px;
    margin-top: -70px;
    padding-left: 10px;
    float: left;
}
.service-detail-image-3 img{
    display: inline-block;
    float: right;
    width: 20%;
}


/* gallery */
.gallery-top{
    min-height: 260px;
    background: url("../images/gallery-top.png")no-repeat top left;
    background-size: 100% 100%;
}
.gallery-top .about-top-content{
    top: 20px;
}
#filter-2{
    display: none;
}
.-item .title{
    display: none;
}
.-filters{
    text-align: center;
    padding-bottom: 50px;
}
.-filters a{
    border: none !important;
    font-size: 16px;
    color: #000;
}
.-skin-default .-filters .-filter.active{
    background: #fff;
    color: #ffa78c;
}
.-skin-default .-items .-item .itembox{
    border: none !important;
    box-shadow: none !important;
}
.-skin-default .-items .-item{
    margin: 0px !important;
}
.pp_gallery{
    display: none !important;
}
.-skin-default .-items .-item .-links .-link{
    padding: 0% 0 !important;
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 768px) {
    .second-table{
        top: 350px;
        left: 440px;
    }
    .first-table{
        top: 40px;
        left: 273px;
    }
    .about-top-content{
        left: 100px;
    }
    .about-image img{
        margin-top: 70px;
    }
    .menu-cya-menu-active:after{
        content: "";
        position: absolute;
        top: 20px;
        left: 0px;
        border-bottom: 11px solid #ff5a28;
        border-left: 11px solid transparent;
        color: #ff5a28;
    }
    .bottom-menu .menu-cya-menu-active:after{
        content: "";
        position: absolute;
        top: 20px;
        left: 0px;
        border-bottom: none;
        border-left: none;
        color: #ff5a28;
    }
    .menu-cya-menu-active a{
        color: #ff5a28 !important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { 
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .first-table{
        left: 200px;
        min-width: 260px;
    }
    .second-table{
        left: 190px;
        min-width: 270px;
    }
    .input-update-short .input-group input, 
    .input-update-short .input-group input:focus, 
    .input-update-short .input-group select, 
    .input-update-short .input-group select:focus{
        width: 83% !important;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .top-header{
        border-bottom: none;
    }
    .header-social{
        text-align: center;
        padding-top: 6px;
    }
    .header-social ul{
        float: none;
        padding-right: 0px;
    }
    .bottom-header-image{
        display: none;
    }
    .bottom-header-image-invisible{
        padding: 20px;
        display: block;
        text-align: center;
    }
    .bottom-header-image-invisible img{
        display: inline-block;
    }
    .bottom-header{
        padding: 0px;
    }
    .navbar-header button{
        float: left;
    }
    .mainslider{
        width: 90%;
    }
    .body-top{
        text-align: center;
    }
    .second-table,
    .first-table{
        position: relative;
        display: inline-block;
        float: none;
        margin-top: 20px;
    }
    .about-top-content{
        width: 100%;
        top: 100px;
        text-align: center;
    }
    .about-title,
    .about-image{
        text-align: center;
    }
    .about-content{
        padding: 0px 15px;
    }
    .contact-right{
        padding-left: 0px;
    }
    .contact{
        padding-left: 20px;
    }
    .btn-contact{
        text-align: center;
    }
    .services-icon,
    .testimonial-icon,
    .supplier-icon{
        width: 100%;
        text-align: center;
    }
    .services-page-content{
        text-align: center;
    }
    .gallery-top .about-top-content{
        top: 100px;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .news-letter-content input[type="text"]{
        width: 200px;
    }
    .input-update-short .input-group input, 
    .input-update-short .input-group input:focus, 
    .input-update-short .input-group select, 
    .input-update-short .input-group select:focus{
        width: 80% !important;
    }
    .icon-body-bottom{
        display: none;
    }
    .form-body-bottom{
        width: 100%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
}
