/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2015, 11:08:26 AM
    Author     : Mr.Ngoc
*/


* { margin: 0; padding: 0; } 
@font-face{
    font-family: "GretoonHighlight";
    src: url("fonts/GretoonHighlight.ttf") format("truetype");;
}
@font-face{
    font-family: "Gretoon";
    src: url("fonts/Gretoon.ttf") format("truetype");;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 14px;
    font-family: Arial;
    vertical-align: baseline;
}
.row{
    margin: 0;
}
.row, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { font: 14px Arial;}

/*
        TYPOGRAPHY
*/
h1, h2, h3, h4, h5 {}
a img { border: 0; }
a {color: #c00c0c; text-decoration: none;}
.zoomer:active { top: 0; }
#page-wrap{
    /*min-width: 480px;*/
}

/* header */
.navbar-cya{
    background-color: #fff;
    border: none;
}
.top-header{
    padding: 5px 0px;
    border-bottom: 2px solid #ebebeb;
}
.bottom-header{
    padding: 30px 0px;
}
.bottom-header-image-invisible{
    display: none;
}
.bottom-header img{
    display: inline-block;
    float: right;
    padding-right: 50px;
}
.header-contact{
    text-align: center;
}
.header-contact .header-contact-content,
.header-contact .header-contact-value{
    display: inline-block;
}
.header-contact .header-contact-value a{    
    font-size: 12px;
    color: #2b2b2b;
}
.header-social ul{
    display: inline-block;
    float: right;
    padding-right: 140px;
}
.header-social ul li{
    float: left;
    padding-left: 5px;
}
.header-social ul li i,
.header-contact .header-contact-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #000;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 30px;    
}
.header-social ul li i.sc-LinkIn{
    background-position: 0 -30px;
}
.header-social ul li i.sc-google{
    background-position: 0 -60px;
}
.header-social ul li i.sc-facebook{
    background-position: 0 -90px;
}
.header-social ul li i.sc-twiter{
    background-position: 0 -120px;
}



/* body */
.navbar-header button{
    margin-left: 10px;
}
.body-top{
    background: url("../images/home-background-top.png") no-repeat center top;
    min-height: 650px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    padding-bottom: 10px;
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {    
    .body-top{
        background: url("../images/home-background-top-small.png") no-repeat center top;
        min-height: 500px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .body-top{
        background: url("../images/home-background-top-small1.png") no-repeat center top;
        min-height: 450px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 770px) {
    .body-top{
        background: url("../images/home-background-top-small1.png") no-repeat center top;
        min-height: 420px;
    }
}

@media only screen and (min-width: 771px) and (max-width: 1199px) {
    .body-top{
        background: url("../images/home-background-top-small2.png") no-repeat center top;
        min-height: 620px;
    }
}


@media only screen and (min-width: 1200px) {

}


.testimonials-box{
    background: url("../images/home-background-bottom.png") no-repeat center center;
    min-height: 300px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.top_bg{
    min-height: 300px;
}

.testimonials-header{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 300px;
    color: #fff;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    text-shadow: 1px 1px 1px #000000;
}

.mainslider{
    padding-top: 60px;
}
.mainslider img{
    width: 100px;
    height: 100px !important;
    border: 1px solid transparent;
    border-radius: 100px;
    padding-right: 10px;
    padding-top: 8px;
}
.mainslider ul.slides li{
    text-align: center;
}
.slider-content{
    text-align: left;
    
}
.mainslider {
    width: 50%;
    margin: 0 auto;
}
.mainslider .flex-direction-nav li{
    position: relative;
}
.mainslider .flex-direction-nav .flex-prev,
.mainslider .flex-direction-nav .flex-next{
    top: -50px;
    opacity: 0.5;
}
.mainslider .flex-direction-nav .flex-prev{

}
.slider-content{
    width: 68%;
    display: inline-block;
    padding: 8px;
    background-color: rgba(255,0,0,0.1);
}
.slider-title{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.slider-content span{
    font-size: 14px;
    color: #000;
    /*text-shadow: 1px 1px 1px #fff;*/
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .testimonials-box, .top_bg{
        min-height: 200px;
    }

    .mainslider{
        padding-top: 15px;
    }

    .testimonials-header{
        line-height: 100px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .testimonials-box, .top_bg{
        min-height: 200px;
    }
    .testimonials-header{
        line-height: 150px;
    }

    .mainslider{
        padding-top: 40px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 770px) {
    .testimonials-box, .top_bg{
        min-height: 200px;
    }
    .testimonials-header{
        line-height: 200px;
    }

    .mainslider{
        padding-top: 30px;
    }
}

@media only screen and (min-width: 771px) and (max-width: 979px) {
    .testimonials-box, .top_bg{
        min-height: 250px;
    }
    .testimonials-header{
        line-height: 250px;
    }

    .mainslider{
        padding-top: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .mainslider{
        padding-top: 80px;
    }
}
.testimonial-images{
    padding-bottom: 20px !important;
    text-align: center;
}
.testimonial-images img{
    width: 280px;
    height: 280px;
}
.testimonial-content h4{
    padding-top: 10px;
    font-size: 14px;
}

.testimonials-list{
    min-height: 250px;
    background-size:100% 100%;
}
.first-table,
.second-table{
    text-align: center;
}
.first-table{
    background-color: white;
    padding-bottom: 20px;
}
.first-table-title{
    font-size: 25px;
    padding-top: 10px;
}
.first-table-content{
    font-size: 16px;
    padding: 15px 10px 0px 10px;
}
.second-table{
    padding-bottom: 20px;
    background: black;
    opacity: 0.8;
}
.second-table-content ul{
    /*padding-top: 20px;*/
}
.second-table-content ul li{
    font-size: 16px;
    text-align: left;
    color: #fff;
    padding-left: 10px;
    padding-top: 20px;
}
.second-table-content ul li a{
    color: #fff;
}
.li-style{
    color: #50a000; 
    display: inline-block;
    padding-right: 10px;
}
.second-table-button{
    padding-top: 40px;
}
.cya-btn{
    background-color: #ff5a28;
}

.body-middle{
    padding-top: 20px;
}
.services{
    font-size: 30px;
    text-align: center
}
.services span{
    color: #ff5a28;
    font-size: 30px;
}
.body-middle hr{
    border-top: 2px solid #eee;
    width: 80%;
    margin: 0 auto;
}
.services-content{
    text-align: center;
    padding: 10px 0;
    display: inline-block;
}
.services-content ul{
    float: left;
}
.services-content-button{
    padding-top: 40px;
    padding-left: 10px;
    line-height: 50px;
}
.services-content-button,
.services-content ul,
.services-content ul li{
    min-height: 50px;
    min-width: 100px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
}


.services-content-button a{
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 479px) {  
    .services-content{
        position: relative;
    }

    .services-content ul{
        left: 5%;
    }

    .services-content-button{
        width: 100%;
        margin-right: 0;
        padding: 0;
        text-align: center;
        margin-top: 10px;
        min-height: 20px;
    }

    .services-content-button a{
        position: inherit;
        bottom: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .services-content-button{
        min-width: 50px;
        margin: 0;
        padding: 0;
    }

    .services-content-button a {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
    }
}

.services-content ul li img{
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* footer */
#footer{
    /*padding-top: 20px;*/
    text-align: center;
    /*    padding-left: 5px;
        padding-right: 5px;*/
}
.news-letter{
    text-align: center;
    margin-top: -1px;
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
}
.news-letter-title{
    font-size: 24px;
}
.news-letter-content{
    font-size: 12px;
    color: #75523c;
    padding-top: 10px;
    display: inline-block;
}
.news-letter-content form{
}
.form-body-bottom{
    padding-top: 20px;
    float: left;
}
.icon-body-bottom{
    float: left;
    display: inline-block;
    background: url("../images/body-bottom-icon.png")no-repeat top left;
    height: 70px;
    width: 75px;
}
.form-body-bottom{
    display: inline-block;
}
.news-letter-content input[type="submit"]{
    border: 1px solid transparent;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: #ff5a28;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
}
.news-letter-content input[type="text"], .news-letter-content input[type="email"]{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding-left: 5px;
}

.menu-footer{
    background-color: #3a2619;
}
.menu-footer ul{
    margin: 0 auto;
    float: none;
    display: inline-block;
}
.menu-footer ul li a{
    color: #fff;
}
.menu-footer ul li a:hover{
    background-color: #3a2619;
}
.footer-infor{
    color: #816b5d;
    font-size: 12px;
    padding: 30px 0px;
}
#footer .menu-footer{

}
#footer .menu-footer ul{

}
#footer .menu-footer ul li{
    float: left;
    min-height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    color: #fff !important;
}
#footer .menu-footer ul li a{
    color: #fff !important;
}



/* page about */
h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
}
h4{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
}
.about-title,
.about-content-title{
    padding: 20px 0px;
}
.border-left{
    border-left: 3px solid #ff9170;
    padding-left: 16px;
    display: inline-block;
}

.about-top-content{
    min-width: 100px;
    min-height: 50px;
    display: inline-block;
    font-size: 40px;
    top: 193px;
    position: relative;
}
.about-body{
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
.about {
    padding-top: 20px;
}
.about-image img{
    width: 230px;
    height: 230px;
    border: 1px solid transparent;
    border-radius: 230px;
}
.about-content-bottom{
    padding-top: 20px;
}
.about-content-bottom ul li{
    padding-top: 10px;
}
.about-content-bottom ul li i{
    color: #62a91a;
}
.about-content-bottom ul li span{
    padding-left: 10px;
    font-size: 13px;
}
.about-content-top h3{
    padding-top: 20px !important; 
}
.about-content-top p,
.about-content-top ul{
    padding-top: 5px;
}
.about-content-top ul,
.about-content-top ol{    
    list-style: initial;
}
.about-content-top ul{
    padding-left: 10px;
}
.about-content-top ul li{
    margin-left: 15px;
    padding-top: 5px;
}

/* contact */
.wpcf7-response-output{
    display: inline-block !important;
}
.input-update{
    width: 100%;
    margin: auto;
    padding-top: 10px;
}
.input-update-short{
    width: 48% !important;
}
.input-update-short .input-group input, 
.input-update-short .input-group input:focus, 
.input-update-short .input-group select, 
.input-update-short .input-group select:focus{
    width: 85% !important;
}
.input-update .input-group{
    width: 100%;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
}
.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-update .input-group input, 
.input-update .input-group input:focus, 
.input-update .input-group select, 
.input-update .input-group select:focus{
    width: 90%;
    border: none;
    min-height: 40px;
    font-family: Arial;
    font-size: 16px;
    margin-left: 5px;
    border-right: 1px solid #9d9d9d;
}
.input-update textarea{
    width: 100%;
    min-height: 200px;
}
.input-update .input-group i{
    font-size: 1.5em;
    color: #c4c4c4;
    padding-left: 4px;
}
.contact-right{
    padding-left: 20px;
}
.google-map img{
    width: 100%;
}
.contact,
.contact div{
    padding-top: 20px;
}
.contact div a{
    color: #2b2b2b;
    font-size: 14px;
}
.contact div span{
    font-weight: bold;
}
.btn-contact{
    text-align: right;
}
.btn-contact input{
    background-color: #50a000;
    padding: 10px 20px;
    color: #fff;
}

/* page services */
.services-body{
    padding-top: 30px;
}
.services-page-content{
    padding: 5px 5px;
}
.services-icon,
.testimonial-icon,
.supplier-icon{
    display: inline-block;
    float: left;
}
.services-icon img{
    width: 50px;
    height: 50px;
}
.supplier-icon img{
    width: 200px;
}

.testimonial-icon img{
    width: 145px;
    height: 150px;
}
.services-page-content h4{
    padding-bottom: 5px;
    font-size: 14px;
}
.supplier-page-content{
    border-left: 2px solid #ebebeb;
    padding-left: 10px;
}
.supplier-page-content h4{
    display: inline-block;
}
.testimonial-page-content h4{
    display: inline-block;
    padding-top: 10px;
}
.testimonial-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.testimonial-title p{
    font-size: 30px;
}

/* page services-detail */
.about-title-second{
    text-align: center;
}
.about-title-second-content{
    display: inline-block;
}
.about-title-second-content img{
    width: 60px;
    height: 60px;
    float: left;
}
.about-title-second-content div{
    display: inline;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}
.best-service-detail{
    color: #ff5a28;
    font-size: 24px;
    display: block;
    padding: 20px 0px;
}
.best-service-detail i{
    color: #50a000;
}
.service-detail-btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: #50a000;
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
}
.service-detail-image-1 img{
    width: 80%;
    height: 270px;
    float: right;
}
.service-detail-image-2 img{
    width: 70%;
    height: 270px;
    margin-top: -70px;
    padding-left: 10px;
    float: left;
}
.service-detail-image-3 img{
    display: inline-block;
    float: right;
    width: 20%;
}


/* gallery */
.gallery-top{
    min-height: 260px;
    background: url("../images/gallery-top.png")no-repeat top left;
    background-size: 100% 100%;
}
.gallery-top .about-top-content{
    top: 20px;
}
.a3-portfolio-menus-container ul.filter li a{
    background-color: #fff !important;
    color: #000 !important;
    font-weight: normal !important;
    font-size: 16px !important;
}
.a3-portfolio-menus-container ul.filter li a.active{
    background: #fff !important;
    color: #ffa78c !important;
}
.a3-portfolio-item-load{
    margin-right: 0% !important;
    margin-bottom: 0px !important;
}
.about .a3-portfolio-item-container .a3-portfolio-card-overlay{
    padding: 0% 0%;
    background-color: #000;
    opacity: 0.75;
}
.a3-portfolio-box-content  .a3-portfolio-item .a3-portfolio-item-container .a3-portfolio-card-overlay .genericon{
    font-size: 48px;
    text-align: center;
    left: 38%;
    top: 40%;
    width: 48px;
    height: 48px;
    color: #fff;
    opacity: 1;
    position: absolute;
}

.a3-portfolio-gallery-thumbs-container .pg_grid img{
    display: inline-block !important;
}
.portfolio_item_categories,
.a3-portfolio-item-content-text{
    display: none;
}
.single-portfolio-slider{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
#single-nav-left,
#single-nav-right,
.single-portfolio-slider-title{
    display: inline-block;    
}
.single-portfolio-slider-title{
    font-size: 30px;
    font-weight: bold;
}
#single-nav-left{
    float: left;
    font-size: 24px;
    font-weight: bold;
}
#single-nav-right{
    float: right;
    font-size: 24px;
    font-weight: bold;
}
#single-nav-left a,
#single-nav-right a{
    color: #000;
}
.pg_grid{
    float: left;
}
body .about-body div.single-a3-portfolio-181 .a3-portfolio-item-content-container{
    width: 100%;
}
body .about-body div.single-a3-portfolio-181 .a3-portfolio-item-content-container .a3-portfolio-gallery-thumbs-container .pg_grid{
    width: 28%;
}
body .about-body .a3-portfolio-item-container:hover .a3-portfolio-card-overlay{
    /*display: none !important;*/
}
body .about-body .a3-portfolio-gallery-thumbs-container .pg_grid.first, 
body .about-body .a3-portfolio-gallery-thumbs-container .pg_grid.last{
    margin-right: 0px !important;
}
.a3-portfolio-single-card-overlay{
    background-color: #000;
    opacity: 0.75;
    text-align: left;
    display: none;
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    top: 0;
    left: 0;
}
.a3-portfolio-single-card-overlay .genericon{
    font-size: 48px;
    text-align: center;
    left: 38%;
    top: 40%;
    width: 48px;
    height: 48px;
    color: #fff;
    opacity: 1;
    position: absolute;
}
body .about-body .a3-portfolio-gallery-thumbs-container .pg_grid:hover .a3-portfolio-single-card-overlay{
    display: block !important;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
    right: -20px !important;
    top: 15px !important;
}
.category-body #secondary{
    padding-top: 10px;
    padding-left: 0px;
}
/* news */
h1.archive-title span,
h1.archive-title span a{
    font-size: 30px;
    font-weight: bold;
    color: inherit;
}
.single-news .entry-content .read-more{
    display: none;
}
h1.news-head {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #002b7f;
    margin-bottom: 30px;
}
.posts {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b8b8b8;
}
.list-post-thumb{
    padding-right: 15px;
}
.posts .list-post-thumb img {
    max-width: 100%;
}
.posts .post .entry-title {
    margin: 0;
    padding: 0;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
}
.entry-meta-left {
    display: inline-block;
}
.entry-meta-right {
    display: inline-block;
    float: right;
}
.comments-link {
    display: none;
}
.entry-content {
    padding: 10px 0px 15px 0px;
}
.widget h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 5px solid #d8dbe0;
    text-transform: uppercase;
}
.widget h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 5px solid #d8dbe0;
    text-transform: uppercase;
}
.widget ul {
    list-style-type: square;
    color: #535353;
    padding-left: 20px;
}
.widget ul li {
    margin-bottom: 5px;
}
.widget ul a {
    color: #535353;
    font-size: 14px;
}
.widget {
    margin-bottom: 40px;
}
#secondary{
    padding-left: 30px;
}
.cya-single h1.news-head {
    border-bottom: none;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 24px;
}
.cya-entry-meta {
    width: 100%;
    border-bottom: 1px solid #002b7f;
    margin-bottom: 20px;
}
.service_share p {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #2b2b2b;
    margin: 0 0 10px;
}
.service_share ul {
    list-style: none;
    padding: 0;
}
.service_share ul li {
    float: left;
}
.service_share ul li.fb {
    max-width: 170px;
}
.entry-content {
    padding: 10px 0px 15px 0px;
}
.short-description {
    color: #2b2b2b;
    font-weight: 700;
}
.nav-single {
    margin-top: 20px;
    margin-bottom: 40px;
}
.nav-single a {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-single > h3 {
    display: none;
}
.nav-single .nav-previous {
    padding-right: 20px;
}
.comment-reply-title {
    color: #4464a1;
    font-size: 16px;
    text-transform: uppercase;
}
.comment-form p {
    margin: 0 0 20px;
}
.comment-form p label {
    display: none;
}
.comment-form p input:not([type="submit"]), 
.comment-form p textarea {
    padding-left: 5px;
    width: 60%;
}
.form-allowed-tags {
    display: none;
}
.comment-form p input[type="submit"] {
    border-radius: 35px;
    background-color: #2d2d2d;
    border: none;
    line-height: 25px;
    color: #fff;
}
.comment-form-comment{
    width: 60%;
}
.comment-form p input[type="submit"] {
    padding: 0px 5px;
}

@media only screen and (min-width: 1200px) {
    .a3-portfolio-box-content.a3-portfolio-box-content-col6 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col6 .pg_grid img{
        height: 160px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col5 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col5 .pg_grid img{
        height: 192px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col4 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col4 .pg_grid img{ 
        height: 240px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col3 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col3 .pg_grid img{
        height: 320px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col2 .pg_grid img{
        height: 460px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col1 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col1 .pg_grid img{
        height: 920px !important;
    }
}
@media only screen and (min-width: 768px) {
    .second-table{
        top: 350px;
        left: 440px;
    }
    .first-table{
        top: 40px;
        left: 273px;
    }
    .about-top-content{
        left: 100px;
    }
    .about-image img{
        margin-top: 70px;
    }
    .menu-cya-menu-active:after{
        content: "";
        position: absolute;
        top: 20px;
        left: 0px;
        border-bottom: 11px solid #ff5a28;
        border-left: 11px solid transparent;
        color: #ff5a28;
    }

    .menu-cya-menu-active:hover:after{
        content: "";
        position: absolute;
        top: 20px;
        left: 0px;
        border-bottom: 11px solid #fff;
        border-left: 11px solid transparent;
        color: #fff;
    }
    .bottom-menu .menu-cya-menu-active:after{
        content: "";
        position: absolute;
        top: 20px;
        left: 0px;
        border-bottom: none;
        border-left: none;
        color: #ff5a28;
    }    
    .-skin-default .-items .-item .itembox{
        width: 100% !important;
    }    
    .a3-portfolio-box-content.a3-portfolio-box-content-col6 .a3-portfolio-item,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col6 .pg_grid{
        width: 16.6% !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col5 .a3-portfolio-item,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col5 .pg_grid{
        width: 20% !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col4 .a3-portfolio-item,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col4 .pg_grid{
        width: 25% !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col3 .a3-portfolio-item,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col3 .pg_grid{
        width: 33.33% !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col2 .pg_grid{
        width: 50% !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col1 .pg_grid{
        width: 100% !important;
    }
    body .about-body  .a3-portfolio-item-content-container{
        width: 100% !important;
    }
    .services-body-height{
        height: 200px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
    .a3-portfolio-box-content.a3-portfolio-box-content-col6 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col6 .pg_grid img{
        height: 160px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col5 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col5 .pg_grid img{
        height: 192px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col4 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col4 .pg_grid img{
        height: 240px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col3 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col3 .pg_grid img{
        height: 320px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col2 .pg_grid img{
        height: 460px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col1 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col1 .pg_grid img{
        height: 920px !important;
    }
    .nav > li > a {
        padding: 10px 9px !important;
    }
    .menu-cya-menu-active:after{
        top: 14px;
        left: -3px;
        border-bottom: 10px solid #ff5a28;
        border-left: 8px solid transparent;
    }
}
@media only screen and (min-width: 891px) and (max-width: 959px) {
    .nav > li > a {
        padding: 10px 6px !important;
    }
    .menu-cya-menu-active:after{
        top: 14px;
        left: -3px;
        border-bottom: 10px solid #ff5a28;
        border-left: 8px solid transparent;
    }
}
@media only screen and (min-width: 768px) and (max-width: 890px) {    
    .bottom-header-image{
        display: none;
    }
    .bottom-header-image-invisible{
        padding: 20px;
        display: block;
        text-align: center;
    }
    .bottom-header-image-invisible img{
        display: inline-block;
    }
    .header-contact,
    .header-social{
        width: 100%;
        text-align: center;
    }
    .header-social{
        padding-top: 10px;
    }
    .header-social ul{
        float: none; 
        padding-right: 0px; 
    }
    .navbar-toggle{
        display: inline-block;
    }
    .navbar-collapse.collapse{
        display: none !important;
    }
    .navbar-default {
        width: 100%;
    }
    .collapse.in{
        display: block !important;
    }
    .navbar-nav > li,
    ul#menu-menu-top{
        float: none;
    }
    .menu-cya-menu-active:after{
        display: none;
        top: 14px;
        left: -3px;
        border-bottom: 10px solid #ff5a28;
        border-left: 8px solid transparent;
    }
    .top-header {
        border-bottom: none;
    }
    .navbar-collapse{
        border-top: 1px solid transparent;
    }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { 
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .first-table{
        left: 200px;
        min-width: 260px;
    }
    .second-table{
        left: 190px;
        min-width: 270px;
    }
    .input-update-short .input-group input, 
    .input-update-short .input-group input:focus, 
    .input-update-short .input-group select, 
    .input-update-short .input-group select:focus{
        width: 83% !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col6 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col6 .pg_grid img{
        height: 143px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col5 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col5 .pg_grid img{
        height: 172px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col4 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col4 .pg_grid img{
        height: 215px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col3 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col3 .pg_grid img{
        height: 286px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col2 .pg_grid img{
        height: 430px !important;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col1 .a3-portfolio-item .a3-portfolio-item-container img,
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-box-content-col1 .pg_grid img{
        height: 863px !important;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .top-header{
        border-bottom: none;
    }
    .header-social{
        text-align: center;
        padding-top: 6px;
    }
    .header-social ul{
        float: none;
        padding-right: 0px;
    }
    .bottom-header-image{
        display: none;
    }
    .bottom-header-image-invisible{
        padding: 20px;
        display: block;
        text-align: center;
    }
    .bottom-header-image-invisible img{
        display: inline-block;
    }
    .bottom-header{
        padding: 0px;
    }
    .navbar-header button{
        float: left;
    }
    .mainslider{
        width: 90%;
    }
    .body-top{
        text-align: center;
    }
    .second-table,
    .first-table{
        position: relative;
        display: inline-block;
        float: none;
        margin-top: 20px;
    }
    .about-top-content{
        width: 100%;
        top: 100px;
        text-align: center;
    }
    .about-title,
    .about-image{
        text-align: center;
    }
    .about-content{
        padding: 0px 15px;
    }
    .contact-right{
        padding-left: 0px;
    }
    .contact{
        padding-left: 20px;
    }
    .btn-contact{
        text-align: center;
    }
    .services-icon,
    .testimonial-icon,
    .supplier-icon{
        width: 100%;
        text-align: center;
    }
    .services-page-content{
        text-align: center;
    }
    .gallery-top .about-top-content{
        top: 100px;
    }
    .a3-portfolio-box-content.a3-portfolio-box-content-col6 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col5 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col4 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col3 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col1 .a3-portfolio-item .a3-portfolio-item-container img{
        height: 384px;
    }
    body .about-body  .a3-portfolio-item-content-container{
        width: 100% !important;
    }
    body .about-body  .a3-portfolio-item-content-container .a3-portfolio-gallery-thumbs-container .pg_grid{
        width: 50% !important;
        margin: 0px !important;
    }
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-gallery-thumbs-container .pg_grid img{
        height: 232px !important;
    }
    #secondary,
    .cya-single,
    .news-content,
    .content-news-template{
        padding-left: 10px;
        padding-right: 10px;
    }
    .services-content ul,
    .services-content ul li,
    .services-content-button{
        width: 100%;
    }
    .services-content ul li img{
        position: relative;
    }
    .services-content-button, 
    .services-content ul, 
    .services-content ul li{
        margin-right: 0px;
    }
    .services-content-button{
        min-height: 20px;
        padding-top: 20px;
        display: block;
    }
    .services-content-button a{
        width: 100%;
        position: relative;
    }
    .mainslider img{
        display: none;
    }
    .testimonials-box .mainslider ul.slides li{
        text-align: center;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 379px) and (max-width: 767px) {
    .about .a3-portfolio-box-content .a3-portfolio-item{
        width: 50% !important;   
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .news-letter-content input[type="text"]{
        width: 200px;
    }
    .input-update-short .input-group input, 
    .input-update-short .input-group input:focus, 
    .input-update-short .input-group select, 
    .input-update-short .input-group select:focus{
        width: 80% !important;
    }
    .icon-body-bottom{
        display: none;
    }
    .form-body-bottom{
        width: 100%;
    }
    .-columns2 .-items .-item .itembox > a > img,
    .-columns3 .-items .-item .itembox > a > img,
    .-columns4 .-items .-item .itembox > a > img,
    .-columns5 .-items .-item .itembox > a > img,
    .-columns6 .-items .-item .itembox > a > img{
        height: 480px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
    .a3-portfolio-box-content.a3-portfolio-box-content-col6 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col5 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col4 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col3 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col2 .a3-portfolio-item .a3-portfolio-item-container img,
    .a3-portfolio-box-content.a3-portfolio-box-content-col1 .a3-portfolio-item .a3-portfolio-item-container img{
        height: 270px;
    }
    body .about-body .a3-portfolio-item-content-container .a3-portfolio-gallery-thumbs-container .pg_grid img{
        height: 232px !important;
    }
}


@media (min-width: 768px){ 
    .navbar-right {
        margin-right: 0px;
    }
}

.navbar-default{
    background: transparent;
    border-color: #e8112d;
}

.navbar-default .navbar-nav > li{
    position: relative;
}

.navbar-default .navbar-nav > li > ul{
    position: absolute;
    top: 100%;
    clip: rect(1px, 1px, 1px, 1px);
    list-style: none;
    padding-left: 0;
}

.navbar-default .navbar-nav > li:hover > ul,
.navbar-default .navbar-nav > li:focus > ul {
    border-left: 0;
    clip: inherit;
    overflow: inherit;
    height: inherit;
    width: inherit;
}

@media (max-width: 767px){ 
    .navbar-default .navbar-nav > li:hover > ul,
    .navbar-default .navbar-nav > li:focus > ul {
        border-left: 0;
        clip: inherit;
        position: relative;
        overflow: inherit;
        height: inherit;
        width: inherit;
    }

    .navbar-default .navbar-nav li ul li, .navbar-default .navbar-nav li ul li a {
        width: 100% !important;        
    }
}

.navbar-default .navbar-nav li ul li a {		
    display: block;		
    width: 250px;
    white-space: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    background-color: #2b2b2b;
    border-bottom: 1px solid #4d4d4d;
    line-height: 20px;
    font-size: 12px !important;
}
.navbar-default .navbar-nav li ul li a span{
    font-size: 12px !important;
}

.navbar-default .navbar-nav li ul li:hover a, .navbar-default .navbar-nav li ul li:focus a{
    background-color: #424242;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a {    
    font-weight: 400;
    text-transform: uppercase;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .menu-item-object-page:hover > a:first-child {
    color: #fff;
    background-color: #ff5d24;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #ff5d24;
}

.bottom-menu .menu-item-object-page:hover > a:first-child{
    background: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    color: #fff;
    background-color: #ff5d24;
}

.navbar-nav > li > .dropdown-menu{
    margin: 1px 0 0 0;
    padding: 0px 0;
    border: 0;
}


.navbar-default .dropdown-menu > li > a{
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    background-color: #2b2b2b;
    border-bottom: 1px solid #4d4d4d;
}

.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus{
    background-color: #424242;
}

.navbar-default .navbar-nav > li.menu-cya-menu-active > a{
    color: #ff5a28;
}
.menu-cya-menu-active .menu-cya-menu-active:after{
    border: none;
}
.navbar-default .navbar-nav > li.menu-cya-menu-active:hover > a{
    color: #fff;
    background-color: #ff5d24;
}

.showed{
    display: block !important;
}
.mfp-iframe-scaler iframe {
    background: url('../images/loading.gif') no-repeat scroll center center #000000 !important;    
}
.mfp-iframe-scaler .mfp-iframe{
    background-color: #fff !important;
}
